@use '../base/variable' as v;
@use '../base/mixin' as m;

nav{ 
    background-color: map-get(v.$navegacion, color_fondo);
    list-style-type: map-get(v.$navegacion, lista_horizontal);
    ul{
        display: flex;
        flex-direction: row;
        li{
            list-style: map-get(v.$navegacion,estilo);
            :hover{
                background-color: map-get(v.$navegacion, color_nav_hover);
                color: map-get(v.$fuente, color_fuente );
                font-weight: bold;
            }
        }
    }
};

.facebook{
    @include m.fondo(facebook);
};
.linkedin {
    @include m.fondo(linkedin);
};
.instagram {
    @include m.fondo(instagram);
};
.youtube{
    @include m.fondo(youtube);
};
.twitter{
    @include m.fondo(twitter);
};
.pinterest {
    @include m.fondo(pinterest);
};

.imagenes_logo{
    width: map-get(v.$logo, anchura_logo );
    height: map-get(v.$logo , altura_logo);
};

.paleta_principal_1{
    background-color: map-get(v.$paleta, color_principal_1 );
    width: map-get(v.$paleta, anchura_paleta );
    height: map-get(v.$paleta, altura_paleta );
    margin: 10px;
};

.paleta_principal_2{
    background-color: map-get(v.$paleta, color_principal_2 );
    width: map-get(v.$paleta, anchura_paleta );
    height: map-get(v.$paleta, altura_paleta );
    margin: 10px;
};

.paleta_principal_3{
    background-color: map-get(v.$paleta, color_principal_3 );
    width: map-get(v.$paleta, anchura_paleta );
    height: map-get(v.$paleta, altura_paleta );
    margin: 10px;
};

.paleta_principal_4{
    background-color: map-get(v.$paleta, color_principal_4 );
    width: map-get(v.$paleta, anchura_paleta );
    height: map-get(v.$paleta, altura_paleta );
    margin: 10px;
};
.tonalidad_rojo_claro{
    background-color: lighten($color: map-get(v.$paleta,color_principal_1), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
    margin-left: 10px;
};
.tonalidad_rojo{
    background-color: map-get(v.$paleta, color_principal_1 );
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};
.tonalidad_rojo_oscuro{
    background-color: darken($color: map-get(v.$paleta,color_principal_1), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};


.tonalidad_verde_claro{
    background-color: lighten($color: map-get(v.$paleta,color_principal_2), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
    margin-left: 10px;
};
.tonalidad_verde{
    background-color: map-get(v.$paleta, color_principal_2 );
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};
.tonalidad_verde_oscuro{
    background-color: darken($color: map-get(v.$paleta,color_principal_2), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};


.tonalidad_azul_claro{
    background-color: lighten($color: map-get(v.$paleta,color_principal_3), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
    margin-left: 10px;
};
.tonalidad_azul{
    background-color: map-get(v.$paleta, color_principal_3 );
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};
.tonalidad_azul_oscuro{
    background-color: darken($color: map-get(v.$paleta,color_principal_3), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};


.tonalidad_violeta_claro{
    background-color: lighten($color: map-get(v.$paleta,color_principal_4), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
    margin-left: 10px;
};
.tonalidad_violeta{
    background-color: map-get(v.$paleta, color_principal_4 );
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};
.tonalidad_violeta_oscuro{
    background-color: darken($color: map-get(v.$paleta,color_principal_4), $amount: 25%);
    width: map-get(v.$paleta_tonalidad, anchura_tonalidad );
    height: map-get(v.$paleta_tonalidad, altura_tonalidad );
};
