$imagenes: (
    tamaño: 150px,
    altura: 100px
    
);
$fuente:(   
    color_fuente:rgb(255, 0, 251)
);
$navegacion:(
    color_fondo:rgb(242, 140, 240),
    estilo:none,
    lista_horizontal:none,
    color_nav_hover: rgb(255, 255, 255)
);
$colores_redes:(
    color_facebook: rgb(0, 255, 123),
    color_linkedin:rgb(0, 166, 255),
    color_instagram: rgb(187, 0, 255),
    color_youtube: rgb(255, 0, 51),
    color_twitter: rgb(95, 110, 121),
    color_pinterest: rgb(218, 126, 7)
);
$logo:(
    anchura_logo: 100px,
    altura_logo: 100px
);

$paleta:(
    color_principal_1:rgb(178,34,34),
    color_principal_2: rgb(173,255,47),
    color_principal_3: rgb(0,143,255),
    color_principal_4: rgb(138,43,226),
    altura_paleta: 80px,
    anchura_paleta: 100px
);
$paleta_tonalidad:(
    altura_tonalidad:80px,
    anchura_tonalidad:80px
);